<IfModule mod_rewrite.c>
# redireciona tudo para o index.php
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]

#desabilida a listagem de arquivos
Options -Indexes

#mensagens de erro
ErrorDocument 403 /index.php
ErrorDocument 404 /index.php
ErrorDocument 500 /index.php
ErrorDocument 503 /index.php

#acesso negado
RewriteEngine On
RewriteRule ^app/(.*)?$ - [F]
RewriteRule ^bin/(.*)?$ - [F]
RewriteRule ^vendor/(.*)?$ - [F]
RewriteRule ^autoload.php - [F]
RewriteRule ^composer.json - [F]
RewriteRule ^composer.lock - [F]
RewriteRule ^db.php - [F]
RewriteRule ^make - [F]
RewriteRule ^todo - [F]
</IfModule>

#comprime os arquivos
AddOutputFilterByType DEFLATE application/pdf
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE image/gif
AddOutputFilterByType DEFLATE image/jpeg
AddOutputFilterByType DEFLATE image/png
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE image/svg+xml

#mimes
AddType image/svg+xml .svg
